.contacts {
  margin: auto;
  background: $color-bg-contacts;
  border-top: 1px solid $color-mouse-grey;

  @media (max-width: $desktop-width) {
    background: none;
    border-top: none;
  }
}

.contacts__wrapper {
  display: flex;
  max-width: 1366px;
  margin: auto;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    max-width: 100%;
  }
}

.contacts__wrap {
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.contacts__form {
  padding: 57px 7% 55px 102px;
  width: 50%;
  min-height: 337px;

  @media (max-width: $desktop-width) {
    background-color: $color-main-blue;
    width: 100%;
    padding: 66px 10% 60px 131px;
    min-height: 324px;
  }

  @media (max-width: $tablet-width) {
    padding: 67px 11px 0 14px;
    min-height: 100%;
  }
}

.contacts h3 {
  font-family: "Bebas Neue", "Arial", monospace;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  margin: 0;
  margin-bottom: 37px;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
  }
}

.contacts__table form {
  display: flex;
  flex-wrap: wrap;
}

.contacts__input {
  margin-right: 28px;

  @media (min-width: 1200px) and (max-width: 1251px) {
    margin-right: 17px;
  }

  @media (max-width: $desktop-width) {
    margin-right: 61px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
  }
}

.contacts__input input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color-mouse-grey;
  color: $color-default-white;
  font-size: 14px;
  line-height: 16px;
  width: 190px;
  padding-bottom: 5px;

  &::placeholder {
    color: $color-default-white;
  }

  @media (max-width: $desktop-width) {
    width: 206px;
    padding-bottom: 6px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 32px;
    min-width: 290px;
  }
}

.contacts__btn {
  width: 410px;
  color: $color-default-white;
  border: 3px solid $color-default-white;
  font-size: 14px;
  line-height: 16px;
  margin-top: 27px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  display: block;
  padding-top: 20px;
  padding-bottom: 14px;

  @media (max-width: $desktop-width) {
    width: 472px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 68px;
    padding-bottom: 15px;
  }
}

.contacts__info h3 {
  font-family: "Bebas Neue", "Arial", monospace;
  font-size: 49px;
  line-height: 64px;
  letter-spacing: 0.03em;
  color: $color-main-blue;
  margin: 0;
  margin-bottom: 37px;
}

.contacts__info {
  padding: 58px 65px 18px 9%;
  width: 50%;

  @media (max-width: $desktop-width) {
    width: 100%;
    padding: 64px 65px 46px 133px;
    border-top: none;
    max-width: 768px;
  }

  @media (max-width: $tablet-width) {
    padding: 70px 15px 45px 15px;
  }
}

.contacts__wrap h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 2px;

  @media (max-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 6px;
  }
}

.contacts__wrap p {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 18px;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 27px;
  }
}

.contacts__address {
  border-right: 1px solid $color-mouse-grey;
  width: 47%;

  @media (max-width: $tablet-width) {
    width: 100%;
    border-right: none;
  }
}

.contacts__phone {
  padding-left: 59px;
  width: 53%;

  @media (max-width: $desktop-width) {
    padding-left: 47px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 0;
  }
}
