.feedback {
  position: relative;
  padding-top: 114px;
  margin-bottom: 121px;

  @media (max-width: $desktop-width) {
    padding-top: 94px;
    margin-bottom: 100px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 67px;
    margin-bottom: 69px;
  }
}

.feedback h3 {
  font-family: "Bebas Neue", "Arial", monospace;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-align: center;
  position: relative;
  margin-top: 0;
  margin-bottom: 54px;

  @media (max-width: $desktop-width) {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 44px;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 45px;
  }
}

.feedback__swiper {
  position: relative;
  width: 560px;

  @media (max-width: $desktop-width) {
    width: 566px;
  }

  @media (max-width: $tablet-width) {
    width: 70vw;
  }
}

.feedback__swiper-slide {
  width: 560px;
  background-color: $color-dark-blue;
  padding: 61px 61px 56px;
  display: flex;

  @media (max-width: $desktop-width) {
    width: 566px;
    padding: 61px 59px 59px 64px;
  }

  @media (max-width: $tablet-width) {
    width: 226px;
    padding: 41px 12px 36px 26px;
    display: block;
  }
}

.feedback__picture-wrapper {
  width: 80px;
  margin: 0;
  position: relative;

  @media (max-width: $tablet-width) {
    float: left;
    width: 68px;
    margin-left: 12px;
    margin-right: 16px;
  }
}

.feedback__picture-wrapper img {
  width: 80px;
  height: 80px;
  margin: 0;

  @media (max-width: $tablet-width) {
    width: 68px;
    height: 68px;
  }
}

.feedback__swiper-wrapper {
  justify-content: start;
}

.feedback__description {
  margin-left: 28px;

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.feedback__description h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  color: $color-default-white;
  margin-top: 0;
  margin-bottom: 15px;

  @media (max-width: $desktop-width) {
    margin-top: -3px;
    margin-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 27px;
    padding-top: 16px;
  }
}

.feedback__description p {
  font-size: 16px;
  line-height: 22px;
  color: $color-default-white;
  margin: 0;

  @media (max-width: $desktop-width) {
    padding-right: 5px;
  }

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.feedback__button-prev {
  position: absolute;
  top: 71%;
  left: 26%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid  $color-arrow-grey;
  border-style: solid solid none none;
  transform: rotate(225deg);
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  @media (min-width: 1200px) and (max-width: 1320px) {
    left: 12.7%;
  }

  @media (max-width: $desktop-width) {
    left: 6.6%;
    top: 69%;
  }

  @media (max-width: $tablet-width) {
    left: 5.4%;
    top: 307px;
    width: 14px;
    height: 14px;
  }
}

.feedback__button-next {
  position: absolute;
  top: 71%;
  right: 26%;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid $color-arrow-grey;
  border-style: solid solid none none;
  transform: rotate(45deg);
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  @media (min-width: 1200px) and (max-width: 1320px) {
    right: 12.7%;
  }

  @media (max-width: $desktop-width) {
    right: 6.6%;
    top: 69%;
  }

  @media (max-width: $tablet-width) {
    top: 307px;
    right: 5.4%;
    width: 14px;
    height: 14px;
  }
}
