.page-footer {
  background-color: $color-bg-footer;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 44px;

  @media (max-width: $desktop-width) {
    padding-top: 48px;
    padding-bottom: 45px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
  }
}

.page-footer__nav-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 68.9%;

  @media (max-width: $desktop-width) {
    width: 78.9%;
  }

  @media (max-width: $tablet-width) {
    padding-top: 47px;
    column-count: 2;
    display: block;
    max-height: 184px;
    column-gap: 40%;
    width: 290px;
    padding-right: 60px;
  }
}

.page-footer__icon-logo {
  @media (max-width: $desktop-width) {
    width: 82px;
    height: 18px;
  }

  @media (max-width: $tablet-width) {
    width: 68px;
    height: 15px;
  }
}

.page-footer__social {
  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

.page-footer__social-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 113px;
  margin-right: -5px;

  @media (max-width: $desktop-width) {
    min-width: 106px;
  }

  @media (max-width: $tablet-width) {
    min-width: 157px;
    padding-bottom: 50px;
  }
}

.page-footer__nav {
  display: flex;
  justify-content: flex-end;
}

.page-footer__sections {
  @include list-style;
  display: flex;
  margin-left: 42px;
  margin-bottom: 10px;
  padding-top: 2px;

  @media (max-width: $desktop-width) {
    margin-left: 30px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 17px;
    display: block;
    padding-top: 0;
  }
}

.page-footer__sections a {
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.page-footer__logo-wrap {
  justify-content: start;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.page-footer__social-link {
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;

  @media (max-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.page-footer__socal-icon-vk {
  @media (max-width: $tablet-width) {
    width: 32px;
    height: 17px;
  }
}

.page-footer__socal-icon-insta {
  @media (max-width: $tablet-width) {
    width: 27px;
    height: 27px;
  }
}

.page-footer__socal-icon-fb {
  @media (max-width: $tablet-width) {
    width: 14px;
    height: 27px;
  }
}
