.page-header {
  min-height: 658px;
  background: $conic-gradient;

  @media (max-width: $desktop-width) {
    min-height: 554px;
  }

  @media (max-width: $tablet-width) {
    min-height: 491px;
    background: $conic-gradient-mob;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: -5px;

  @media (max-width: $desktop-width) {
    padding-top: 39px;
    margin-bottom: 17px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 19px;
  }
}

.page-header__logo {
  margin-right: 15px;
}

.page-header__icon-logo {
  @media (max-width: $desktop-width) {
    width: 82px;
    height: 19px;
  }

  @media (max-width: $tablet-width) {
    width: 68px;
    height: 15px;
  }
}

.page-header__phone a {
  font-family: "Bebas Neue", "Arial", monospace;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.06em;
  color: $color-default-white;

  @media (max-width: $desktop-width) {
    letter-spacing: 0.02em;
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.page-header__resume-list {
  @include list-style;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  color: $color-default-white;
  position: absolute;
  width: 113px;
  margin-top: 303px;

  @media (max-width: $desktop-width) {
    margin-top: 186px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 174px;
  }
}

.page-header__resume-title {
  width: 34%;
  margin-right: 5.5%;

  @media (max-width: $desktop-width) {
    width: 74%;
    margin-right: 4.1%;
  }

  @media (max-width: $tablet-width) {
    margin-right: 0;
    width: 100%;
  }
}

.page-header__resume-title p,
.page-header__resume-title h1 {
  font-family: "Bebas Neue", "Arial", monospace;
  color: $color-default-white;
  text-align: right;
}

.page-header__resume-title p {
  font-size: 49px;
  line-height: 59px;
  letter-spacing: 0.03em;
  margin-top: 117px;

  @media (max-width: $desktop-width) {
    font-size: 34px;
    line-height: 41px;
    margin-top: 52px;
    margin-bottom: 50px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 56px;
  }
}

.page-header__resume-title h1 {
  font-size: 109px;
  line-height: 109px;
  text-align: right;
  letter-spacing: 0.03em;
  margin-top: -56px;

  @media (max-width: $desktop-width) {
    font-size: 86px;
    line-height: 86px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (max-width: $tablet-width) {
    font-size: 78px;
    line-height: 78px;
    text-shadow: none;
    margin-bottom: 56px;
  }
}

.page-header__button {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
  border: 4px solid $color-default-white;
  margin-left: 164px;
  padding: 19px 53px;
  margin-bottom: 94px;
  margin-top: -8px;

  @media (max-width: $desktop-width) {
    margin-left: 137px;
    margin-bottom: 0;
    padding: 18px 32px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
    margin-bottom: 0;
    padding: 21px 82px;
    width: 100%;
    justify-content: center;
  }

  @media (min-width: 424px) and (max-width: 767px) {
    margin-top: 54px;
  }
}

.page-header__resume-wrap {
  display: flex;
  align-items: flex-start;
}

.page-header__resume-img {
  margin-right: 188px;

  @media (max-width: $desktop-width) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__resume-img img {
  @media (max-width: $desktop-width) {
    width: 324px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.page-header__resume-socials {
  @include list-style;
  margin-top: 428px;

  @media (max-width: $desktop-width) {
    display: none;
  }
}

.page-header__resume-socials-item a {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: $color-default-white;
  text-align: right;
  text-transform: uppercase;
}

.page-header__resume-socials-item {
  margin-bottom: 10px;
}
