.trainers {
  position: relative;
}

.trainers h3 {
  font-family: "Bebas Neue", "Arial", monospace;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 54px;
}

.trainers__swiper {
  width: 1160px;
}

.trainers img {
  width: 260px;
  height: 294px;
}

.trainers__card {
  position: relative;
  width: 260px;
  max-height: 294px;
}

.trainers__card span {
  display: block;
  color: $color-default-white;
  position: absolute;
  text-align: center;
  padding-bottom: 25px;
  left: 30%;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  bottom: -3px;
}


.trainers__details {
  background-color: rgba(16, 38, 84, 0.89);
  position: absolute;
  max-width: 260px;
  max-height: 294px;
  // padding-left: 25px;
  width: 100%;
  display: none;
  top: 0;
  z-index: 3;
  height: 100%;

  &:focus-within {
    outline-offset: 2px;
    display: block;
  }

  // @media (max-width: $desktop-width) {
  // max-width: 309px;
  // padding-left: 36px;
  // }

  // @media (max-width: $tablet-width) {
  //   max-width: 270px;
  //   padding-left: 26px;
  // }

  & h5 {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $color-default-white;
    padding-top: 52px;
    text-align: center;
  }

  & span {
    margin: 0;
    color: $color-light-grey;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 15px;
    display: block;
    text-align: center;
  }
}

.trainers__details-list {
  margin-left: 33px;
}

.trainers__details-list li {
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  margin-bottom: 14px;
}

.trainers__wrap {
  position: relative;
  margin-right: 40px;
  width: 260px;

  &:hover .trainers__details {
    display: block;
    scrollbar-width: none;
    overflow: auto;
  }

  &:hover .trainers__name {
    display: none;
  }

  &:focus-within .trainers__details {
    display: block;
    outline-offset: 2px;
  }
}

.trainers__button-prev,
.trainers__button-next {
  position: absolute;
  bottom: 135px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid #afafaf;
  border-style: solid solid none none;
  cursor: pointer;
}

.trainers__swiper-slide {
  position: relative;
  width: 260px;
  height: 294px;
}


.trainers__button-prev {
  position: absolute;
  bottom: 135px;
  left: 51px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid $color-arrow-grey;
  border-style: solid solid none none;
  transform: rotate(225deg);
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    bottom: 128px;
    left: 17px;
    width: 14px;
    height: 14px;
  }
}

.trainers__swiper-slide .trainers__button-next {
  position: absolute;
  bottom: 135px;
  right: 51px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid $color-arrow-grey;
  border-style: solid solid none none;
  transform: rotate(45deg);
  cursor: pointer;

  &:hover {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    bottom: 128px;
    right: 17px;
    width: 14px;
    height: 14px;
  }
}
