.video {
  display: flex;
  margin-top: 120px;
  position: relative;
  margin-bottom: 240px;
  padding: 0 103px;

  @media (max-width: $desktop-width) {
    flex-direction: column;
    margin-top: 53px;
    margin-bottom: 184px;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 207px;
  }
}

.video__text-wrapper {
  width: 31.5%;
  margin-left: 60px;
  margin-right: 6.5%;

  @media (max-width: $desktop-width) {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  @media (max-width: $tablet-width) {
    text-align: start;
    margin: 0 15px;
  }
}

.video__text-wrapper h3 {
  font-family: "Bebas Neue", "Arial", monospace;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  margin-top: 42px;
  margin-bottom: 0;

  @media (max-width: $desktop-width) {
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 32px;
    margin-top: 13px;
  }
}

.video__text-wrapper h3 + p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 18px;
  line-height: 27px;
  margin-top: 12px;
  margin-bottom: 39px;

  @media (max-width: $desktop-width) {
    margin-bottom: 36px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 10px;
    margin-bottom: 24px;
  }
}

.video__text-wrapper p + p {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 0;

  @media (max-width: $desktop-width) {
    width: 77%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 41px;
  }

  @media (max-width: $tablet-width) {
    width: 90%;
    margin: 0;
    margin-bottom: 32px;
  }
}

.video__text-wrapper span {
  @media (max-width: $desktop-width) {
    display: none;
  }
}

.video__wrap {
  position: absolute;
  top: 72%;
  right: 50%;
  transform: translateX(61%);

  @media (max-width: $desktop-width) {
    top: 86.5%;
    transform: translateX(50%);
  }

  @media (max-width: $tablet-width) {
    top: 107%;
  }
}

.video__video-wrapper {
  @media (max-width: $tablet-width) {
    width: 320px;
    height: 167px;
    background-color: $color-gradient-blue;
  }
}

.video__button {
  top: 26%;
  background: transparent;
  border: none;
  position: absolute;
  left: 34%;

  &:hover svg {
    fill: $color-red;
  }

  @media (max-width: $desktop-width) {
    top: 28%;
    left: 34%;
    width: 73px;
    height: 73px;
  }

  @media (max-width: $tablet-width) {
    top: 26%;
    left: 37%;
  }
}

.video__button-play {
  @media (max-width: $desktop-width) {
    width: 73px;
    height: 73px;
  }
}

.video__frame {
  @media (max-width: $desktop-width) {
    width: 266px;
    height: 167px;
  }

  @media (max-width: $tablet-width) {
    width: 320px;
  }
}

.video__img-wrapper {
  @media (max-width: $desktop-width) {
    padding: 0 45px;
  }

  @media (min-width: 555px) and (max-width: 767px) {
    width: 80%;
    margin: 0 auto;
  }

  @media (max-width: $tablet-width) {
    padding: 0;
  }
}

.video__img-wrapper img {
  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.video__embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
